<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>奇牟nav</title>
	
    <link rel="shortcut icon" href="../views/ico/qm.png">
	<link rel="stylesheet" type="text/css" href="../views/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../views/css/comm.css">
	<script type="text/javascript" src="../views/js/jquery.min.js"></script>
    <script type="text/javascript" src="../views/js/bootstrap.js"></script>
	<script type="text/javascript" src="../views/js/vue.js"></script>
	<script type="text/javascript" src="../views/js/vue-resource.js"></script>
	
<script type=text/javascript>

$(function(){
	$('#webmenu li').hover(function(){
		$(this).children('ul').stop(true,true).show('slow');
	},function(){
		$(this).children('ul').stop(true,true).hide('slow');
	});
	
	$('#webmenu li').hover(function(){
		$(this).children('div').stop(true,true).show('slow');
	},function(){
		$(this).children('div').stop(true,true).hide('slow');
	});
});
</script>
<style type="text/css">
* {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-family:"雅黑宋体", "微软雅黑", "新宋体", "宋体";
	font-size:1em;
	font-size:17px;
/* 	color:#FFF; */
/* 	background:#050505; */
	text-align:left;
	padding-top: 70px;
}
a {
	color:#FFF;
	text-decoration:none;
}
ul {
	list-style:none;
}
#webmenu {
	height:37px;
	background:#333;
	font-size:1.3em;
	text-align:center;
}
#webmenu a {
	font-size:0.65em;
}
#webmenu li ul {
	display:none;
}
#webmenu li ul li {
	float:none;
}
*html #webmenu li ul li {
	display:inline;
}
#webmenu li ul a {
	float:none;
	height:32px;
	line-height:32px;
	padding:0 10px;
	text-transform:capitalize;
}
#webmenu .height-auto {
	line-height:15px;
	padding:5px 10px;
}
.second-menu, .third-menu, .fourth-menu {
	position:absolute;
}
.first-menu li {
	float:left;
	position:relative;
}
.first-menu a {
	float:left;
	display:block;
	padding:0 20px;
	height:35px;
	line-height:35px;
	background:#333;
	border-top:1px solid #4a4a4a;
	border-left:1px solid #4a4a4a;
	border-bottom:1px solid #242424;
	border-right:1px solid #242424;
	font-size:.7em;
}
.first-menu a:hover {
	background:#4698ca;
	border-top:1px solid #5db1e0;
	border-left:1px solid #5db1e0;
	text-decoration:none;  /*超链接无下划线*/
}
.second-menu {
	top:37px;
	right:0;
}
*html .second-menu {
	right:-1px;
}
.second-menu a {
	font-size:11px;
}
.second-menu a.arrow {
	background:#3a3a3a url(../views/image/arrow.gif) no-repeat right top;
}
.second-menu a.arrow:hover {
	background:#4698ca url(../views/image/arrow.gif) no-repeat right -32px;
}
.second-menu a.arrow-02 {
	background:#3a3a3a url(../views/image/arrow.gif) no-repeat right -64px;
}
.second-menu a.arrow-02:hover {
	background:#4698ca url(../views/image/arrow.gif) no-repeat right -110px;
}
.third-menu, .fourth-menu {
	width:177px;
	top:0;
	left:177px;
}
.third-menu a {
	background:#4c4c4c;
	font-weight:normal;
	border-top:1px solid #595959;
	border-left:1px solid #595959;
	border-bottom:1px solid #333;
	border-right:1px solid #333;
}
#subMgm {
	width:177px;
}
#subMgm .third-menu {
	left:177px;
}
#subMgm .fourth-menu {
	left:177px;
}
#subMusic, #subNews {
	width:177px;
}
</style>

</head>
<body>
<div class="container" id="box">

<ul id="webmenu" class="first-menu container navbar-fixed-top">
  <li><a href="#" style="color:#ff0; background:none; border:none;" target="_self">站长素材</a></li>
  <li><a href="#" target="_self">建立网站</a>
    <ul style="display: none;" id="subMusic" class="second-menu">
      <li><a href="#" class="arrow" target="_self">域名空间域名空间空间</a>
        <ul class="third-menu">
          <li><a href="#">fatcow</a></li>
          <li><a href="#">justhost</a></li>
          
        </ul>
      </li>
      <li><a href="#" class="arrow" target="_self">CSS 模版</a>
        <ul class="third-menu">
          <li><a href="#">zengerden</a></li>
          <li><a href="#">freecsstemplates.org</a></li>
          <li><a href="#">oswd.org</a></li>
          <li><a href="#">opendesigns.org</a></li>
          <li><a href="#">cssplay</a></li>
          <li><a href="#">studiopress</a></li>
          <li><a href="#">styleshout</a></li>
        </ul>
      </li>
      <li><a href="#" class="arrow" target="_self">CSS 学习</a>
        <ul class="third-menu">
          <li><a href="#">ken's blog</a></li>
          <li><a href="#">ndoherty</a></li>
          <li><a href="#">andy's blog</a></li>
          <li><a href="#">cssplay</a></li>
        </ul>
      </li>
      <li><a href="#"  target="_self">博客制作</a>
        <ul class="third-menu">
        </ul>
      </li>
      <li><a href="#" class="arrow" target="_self">素材下载</a>
        <ul class="third-menu">
          <li><a href="#">flashden.net</a></li>
          <li><a href="#">站酷</a></li>
        </ul>
      </li>
      <li><a href="#" class="arrow" target="_self">管理维护</a>
        <ul class="third-menu">
          <li><a href="#">中国站长</a></li>
          <li><a href="#">网页设计师联盟</a></li>
          <li><a href="#">蓝色理想</a></li>
          <li><a href="#">天极网页</a></li>
          <li><a href="#">前沿教室</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#" target="_self">工作生活</a>
    <ul id="subNews" class="second-menu">
      <li><a href="#" class="arrow" target="_self">搜索</a>
        <ul class="third-menu">
          <li><a href="#">百度</a></li>
          <li><a href="#">Google</a></li>
          <li><a href="#">搜狐</a></li>
        </ul>
      </li>
      <li><a href="#" class="arrow" target="_self">新闻</a>
        <ul class="third-menu">
          <li><a href="#">新浪</a></li>
          <li><a href="#">腾讯</a></li>
          <li><a href="#">搜狐</a></li>
          <li><a href="#">网易</a></li>
          <li><a href="#">凤凰网</a></li>
        </ul>
      </li>
      <li><a href="#" class="arrow" target="_self">招聘</a>
        <ul class="third-menu">
          <li><a href="#">中华英才网</a></li>
          <li><a href="#">前程无忧</a></li>
          <li><a href="#">智联招聘</a></li>
          <li><a href="#">中国人才热线</a></li>
          <li><a href="#">上海第一招聘</a></li>
          <li><a href="#">528招聘网</a></li>
          <li><a href="#">1010兼职网</a></li>
        </ul>
      </li>
      <li><a href="#" class="arrow" target="_self">网赚</a>
        <ul class="third-menu">
          <li><a href="#">威客中国</a></li>
        </ul>
      </li>
      <li><a href="#" class="arrow" target="_self">购物</a>
        <ul class="third-menu">
          <li><a href="#" class="arrow" target="_self">网站</a>
            <ul class="fourth-menu">
              <li><a href="#">淘宝网</a></li>
              <li><a href="#">当当网</a></li>
              <li><a href="#">易趣网</a></li>
              <li><a href="#">百度有啊</a></li>
              <li><a href="#">卓越网</a></li>
              <li><a href="#">拍拍网</a></li>
              <li><a href="#">阿里巴巴</a></li>
              <li><a href="#">京东商城</a></li>
              <li><a href="#">锦上添花女装</a></li>
            </ul>
          </li>
          <li><a href="#" class="arrow" target="_self">快递公司</a>
            <ul class="fourth-menu">
              <li><a href="#">申通快递</a></li>
              <li><a href="#">圆通快递</a></li>
              <li><a href="#">EMS特快专递</a></li>
              <li><a href="#">顺丰快递</a></li>
              <li><a href="#">天天快递</a></li>
              <li><a href="#">中通快递</a></li>
              <li><a href="#">韵达快运</a></li>
            </ul>
          </li>
          <li><a href="#" class="arrow" target="_self">电子支付</a>
            <ul class="fourth-menu">
              <li><a href="#">支付宝</a></li>
              <li><a href="#">快钱</a></li>
              <li><a href="#">财付通</a></li>
              <li><a href="#">paypal</a></li>
              <li><a href="#">百付宝</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#" class="arrow" target="_self">科技</a>
        <ul class="third-menu">
          <li><a href="#">专利之家</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#" class="arrow" target="_self">休闲娱乐</a>
    <ul style="display: none;" id="subMgm" class="second-menu">
      <li><a href="#" class="arrow" target="_self">游戏</a>
        <ul class="third-menu">
          <li><a href="#" class="arrow" target="_self">网络游戏</a>
            <ul class="fourth-menu">
              <li><a href="#">魔兽世界</a></li>
              <li><a href="#">劲舞团</a></li>
              <li><a href="#">跑跑卡丁车</a></li>
              <li><a href="#">征途</a></li>
              <li><a href="#">问道</a></li>
              <li><a href="#">泡泡堂</a></li>
              <li><a href="#">热血江湖</a></li>
              <li><a href="#">街头篮球</a></li>
              <li><a href="#">梦幻西游</a></li>
              <li><a href="#">QQ飞车</a></li>
              <li><a href="#">冒险岛</a></li>
              <li><a href="#">水浒Q传</a></li>
              <li><a href="#">穿越火线</a></li>
              <li><a href="#">天龙八部</a></li>
              <li><a href="#">诛仙</a></li>
              <li><a href="#">武林外传</a></li>
              <li><a href="#">完美世界</a></li>
              <li><a href="#">特种部队</a></li>
              <li><a href="#">热血传奇</a></li>
            </ul>
          </li>
          <li><a href="#">17173</a></li>
        </ul>
      </li>
      <li><a href="#" class="arrow" target="_self">电影</a>
        <ul class="third-menu">
          <li><a href="#">迅雷看看</a></li>
          <li><a href="#">狗狗搜索</a></li>
          <li><a href="#">电驴下载</a></li>
          <li><a href="#">80s手机电影</a></li>
        </ul>
      </li>
      <li><a href="#" class="arrow" target="_self">视频</a>
        <ul class="third-menu">
          <li><a href="#">优酷</a></li>
          <li><a href="#">土豆</a></li>
          <li><a href="#">酷6</a></li>
          <li><a href="#">六间房</a></li>
          <li><a href="#">56</a></li>
        </ul>
      </li>
      <li><a href="#" class="arrow" target="_self">音乐</a>
        <ul class="third-menu">
          <li><a href="#">百度-MP3</a></li>
          <li><a href="#">QQ163</a></li>
          <li><a href="#">一听音乐</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#" class="arrow" target="_blank">我的网站</a></li>
</ul>

 v-bind
缩写：:

预期：any (with argument) | Object (without argument)

参数：attrOrProp (optional)

修饰符：

.prop - 被用于绑定 DOM 属性 (property)。(差别在哪里？)
.camel - (2.1.0+) 将 kebab-case 特性名转换为 camelCase. (从 2.1.0 开始支持)
.sync (2.3.0+) 语法糖，会扩展成一个更新父组件绑定值的 v-on 侦听器。
用法：

动态地绑定一个或多个特性，或一个组件 prop 到表达式。

在绑定 class 或 style 特性时，支持其它类型的值，如数组或对象。可以通过下面的教程链接查看详情。

在绑定 prop 时，prop 必须在子组件中声明。可以用修饰符指定不同的绑定类型。

没有参数时，可以绑定到一个包含键值对的对象。注意此时 class 和 style 绑定不支持数组和对象。

示例：


.camel 修饰符允许在使用 DOM 模板时将 v-bind 属性名称驼峰化，例如 SVG 的 viewBox 属性：

在使用字符串模板或通过 vue-loader/vueify 编译时，无需使用 .camel。

参考：

Class 与 Style 绑定
组件 - Props
组件 - .sync 修饰符
v-model
预期：随表单控件类型不同而不同。

限制：


components
修饰符：

.lazy - 取代 input 监听 change 事件
.number - 输入字符串转为数字
.trim - 输入首尾空格过滤
用法：

在表单控件或者组件上创建双向绑定。细节请看下面的教程链接。

参考：

表单控件绑定
组件 - 在输入组件上使用自定义事件
v-pre
不需要表达式

用法：

跳过这个元素和它的子元素的编译过程。可以用来显示原始 Mustache 标签。跳过大量没有指令的节点会加快编译。

示例：

<span v-pre>{{ this will not be compiled }}</span>
v-cloak
不需要表达式

用法：

这个指令保持在元素上直到关联实例结束编译。和 CSS 规则如 [v-cloak] { display: none } 一起用时，这个指令可以隐藏未编译的 Mustache 标签直到实例准备完毕。

示例：

[v-cloak] {
  display: none;
}
<div v-cloak>
  {{ message }}
</div>
不会显示，直到编译结束。
v-once
不需要表达式
v-bind
缩写：:

预期：any (with argument) | Object (without argument)

参数：attrOrProp (optional)

修饰符：

.prop - 被用于绑定 DOM 属性 (property)。(差别在哪里？)
.camel - (2.1.0+) 将 kebab-case 特性名转换为 camelCase. (从 2.1.0 开始支持)
.sync (2.3.0+) 语法糖，会扩展成一个更新父组件绑定值的 v-on 侦听器。
用法：

动态地绑定一个或多个特性，或一个组件 prop 到表达式。

在绑定 class 或 style 特性时，支持其它类型的值，如数组或对象。可以通过下面的教程链接查看详情。

在绑定 prop 时，prop 必须在子组件中声明。可以用修饰符指定不同的绑定类型。

没有参数时，可以绑定到一个包含键值对的对象。注意此时 class 和 style 绑定不支持数组和对象。

示例：


.camel 修饰符允许在使用 DOM 模板时将 v-bind 属性名称驼峰化，例如 SVG 的 viewBox 属性：

在使用字符串模板或通过 vue-loader/vueify 编译时，无需使用 .camel。

参考：

Class 与 Style 绑定
组件 - Props
组件 - .sync 修饰符
v-model
预期：随表单控件类型不同而不同。

限制：


components
修饰符：

.lazy - 取代 input 监听 change 事件
.number - 输入字符串转为数字
.trim - 输入首尾空格过滤
用法：

在表单控件或者组件上创建双向绑定。细节请看下面的教程链接。

参考：

表单控件绑定
组件 - 在输入组件上使用自定义事件
v-pre
不需要表达式

用法：

跳过这个元素和它的子元素的编译过程。可以用来显示原始 Mustache 标签。跳过大量没有指令的节点会加快编译。

示例：

<span v-pre>{{ this will not be compiled }}</span>
v-cloak
不需要表达式

用法：

这个指令保持在元素上直到关联实例结束编译。和 CSS 规则如 [v-cloak] { display: none } 一起用时，这个指令可以隐藏未编译的 Mustache 标签直到实例准备完毕。

示例：

[v-cloak] {
  display: none;
}
<div v-cloak>
  {{ message }}
</div>
不会显示，直到编译结束。
v-once
不需要表达式
v-bind
缩写：:

预期：any (with argument) | Object (without argument)

参数：attrOrProp (optional)

修饰符：

.prop - 被用于绑定 DOM 属性 (property)。(差别在哪里？)
.camel - (2.1.0+) 将 kebab-case 特性名转换为 camelCase. (从 2.1.0 开始支持)
.sync (2.3.0+) 语法糖，会扩展成一个更新父组件绑定值的 v-on 侦听器。
用法：

动态地绑定一个或多个特性，或一个组件 prop 到表达式。

在绑定 class 或 style 特性时，支持其它类型的值，如数组或对象。可以通过下面的教程链接查看详情。

在绑定 prop 时，prop 必须在子组件中声明。可以用修饰符指定不同的绑定类型。

没有参数时，可以绑定到一个包含键值对的对象。注意此时 class 和 style 绑定不支持数组和对象。

示例：


.camel 修饰符允许在使用 DOM 模板时将 v-bind 属性名称驼峰化，例如 SVG 的 viewBox 属性：

在使用字符串模板或通过 vue-loader/vueify 编译时，无需使用 .camel。

参考：

Class 与 Style 绑定
组件 - Props
组件 - .sync 修饰符
v-model
预期：随表单控件类型不同而不同。

限制：


components
修饰符：

.lazy - 取代 input 监听 change 事件
.number - 输入字符串转为数字
.trim - 输入首尾空格过滤
用法：

在表单控件或者组件上创建双向绑定。细节请看下面的教程链接。

参考：

表单控件绑定
组件 - 在输入组件上使用自定义事件
v-pre
不需要表达式

用法：

跳过这个元素和它的子元素的编译过程。可以用来显示原始 Mustache 标签。跳过大量没有指令的节点会加快编译。

示例：

<span v-pre>{{ this will not be compiled }}</span>
v-cloak
不需要表达式

用法：

这个指令保持在元素上直到关联实例结束编译。和 CSS 规则如 [v-cloak] { display: none } 一起用时，这个指令可以隐藏未编译的 Mustache 标签直到实例准备完毕。

示例：

[v-cloak] {
  display: none;
}
<div v-cloak>
  {{ message }}
</div>
不会显示，直到编译结束。
v-once
不需要表达式
v-bind
缩写：:

预期：any (with argument) | Object (without argument)

参数：attrOrProp (optional)

修饰符：

.prop - 被用于绑定 DOM 属性 (property)。(差别在哪里？)
.camel - (2.1.0+) 将 kebab-case 特性名转换为 camelCase. (从 2.1.0 开始支持)
.sync (2.3.0+) 语法糖，会扩展成一个更新父组件绑定值的 v-on 侦听器。
用法：

动态地绑定一个或多个特性，或一个组件 prop 到表达式。

在绑定 class 或 style 特性时，支持其它类型的值，如数组或对象。可以通过下面的教程链接查看详情。

在绑定 prop 时，prop 必须在子组件中声明。可以用修饰符指定不同的绑定类型。

没有参数时，可以绑定到一个包含键值对的对象。注意此时 class 和 style 绑定不支持数组和对象。

示例：


.camel 修饰符允许在使用 DOM 模板时将 v-bind 属性名称驼峰化，例如 SVG 的 viewBox 属性：

在使用字符串模板或通过 vue-loader/vueify 编译时，无需使用 .camel。

参考：

Class 与 Style 绑定
组件 - Props
组件 - .sync 修饰符
v-model
预期：随表单控件类型不同而不同。

限制：


components
修饰符：

.lazy - 取代 input 监听 change 事件
.number - 输入字符串转为数字
.trim - 输入首尾空格过滤
用法：

在表单控件或者组件上创建双向绑定。细节请看下面的教程链接。

参考：

表单控件绑定
组件 - 在输入组件上使用自定义事件
v-pre
不需要表达式

用法：

跳过这个元素和它的子元素的编译过程。可以用来显示原始 Mustache 标签。跳过大量没有指令的节点会加快编译。

示例：

<span v-pre>{{ this will not be compiled }}</span>
v-cloak
不需要表达式

用法：

这个指令保持在元素上直到关联实例结束编译。和 CSS 规则如 [v-cloak] { display: none } 一起用时，这个指令可以隐藏未编译的 Mustache 标签直到实例准备完毕。

示例：

[v-cloak] {
  display: none;
}
<div v-cloak>
  {{ message }}
</div>
不会显示，直到编译结束。
v-once
不需要表达式
v-bind
缩写：:

预期：any (with argument) | Object (without argument)

参数：attrOrProp (optional)

修饰符：

.prop - 被用于绑定 DOM 属性 (property)。(差别在哪里？)
.camel - (2.1.0+) 将 kebab-case 特性名转换为 camelCase. (从 2.1.0 开始支持)
.sync (2.3.0+) 语法糖，会扩展成一个更新父组件绑定值的 v-on 侦听器。
用法：

动态地绑定一个或多个特性，或一个组件 prop 到表达式。

在绑定 class 或 style 特性时，支持其它类型的值，如数组或对象。可以通过下面的教程链接查看详情。

在绑定 prop 时，prop 必须在子组件中声明。可以用修饰符指定不同的绑定类型。

没有参数时，可以绑定到一个包含键值对的对象。注意此时 class 和 style 绑定不支持数组和对象。

示例：


.camel 修饰符允许在使用 DOM 模板时将 v-bind 属性名称驼峰化，例如 SVG 的 viewBox 属性：

在使用字符串模板或通过 vue-loader/vueify 编译时，无需使用 .camel。

参考：

Class 与 Style 绑定
组件 - Props
组件 - .sync 修饰符
v-model
预期：随表单控件类型不同而不同。

限制：


components
修饰符：

.lazy - 取代 input 监听 change 事件
.number - 输入字符串转为数字
.trim - 输入首尾空格过滤
用法：

在表单控件或者组件上创建双向绑定。细节请看下面的教程链接。

参考：

表单控件绑定
组件 - 在输入组件上使用自定义事件
v-pre
不需要表达式

用法：

跳过这个元素和它的子元素的编译过程。可以用来显示原始 Mustache 标签。跳过大量没有指令的节点会加快编译。

示例：

<span v-pre>{{ this will not be compiled }}</span>
v-cloak
不需要表达式

用法：

这个指令保持在元素上直到关联实例结束编译。和 CSS 规则如 [v-cloak] { display: none } 一起用时，这个指令可以隐藏未编译的 Mustache 标签直到实例准备完毕。

示例：

[v-cloak] {
  display: none;
}
<div v-cloak>
  {{ message }}
</div>
不会显示，直到编译结束。
v-once
不需要表达式
v-bind
缩写：:

预期：any (with argument) | Object (without argument)

参数：attrOrProp (optional)

修饰符：

.prop - 被用于绑定 DOM 属性 (property)。(差别在哪里？)
.camel - (2.1.0+) 将 kebab-case 特性名转换为 camelCase. (从 2.1.0 开始支持)
.sync (2.3.0+) 语法糖，会扩展成一个更新父组件绑定值的 v-on 侦听器。
用法：

动态地绑定一个或多个特性，或一个组件 prop 到表达式。

在绑定 class 或 style 特性时，支持其它类型的值，如数组或对象。可以通过下面的教程链接查看详情。

在绑定 prop 时，prop 必须在子组件中声明。可以用修饰符指定不同的绑定类型。

没有参数时，可以绑定到一个包含键值对的对象。注意此时 class 和 style 绑定不支持数组和对象。

示例：


.camel 修饰符允许在使用 DOM 模板时将 v-bind 属性名称驼峰化，例如 SVG 的 viewBox 属性：

在使用字符串模板或通过 vue-loader/vueify 编译时，无需使用 .camel。

参考：

Class 与 Style 绑定
组件 - Props
组件 - .sync 修饰符
v-model
预期：随表单控件类型不同而不同。

限制：


components
修饰符：

.lazy - 取代 input 监听 change 事件
.number - 输入字符串转为数字
.trim - 输入首尾空格过滤
用法：

在表单控件或者组件上创建双向绑定。细节请看下面的教程链接。

参考：

表单控件绑定
组件 - 在输入组件上使用自定义事件
v-pre
不需要表达式

用法：

跳过这个元素和它的子元素的编译过程。可以用来显示原始 Mustache 标签。跳过大量没有指令的节点会加快编译。

示例：

<span v-pre>{{ this will not be compiled }}</span>
v-cloak
不需要表达式

用法：

这个指令保持在元素上直到关联实例结束编译。和 CSS 规则如 [v-cloak] { display: none } 一起用时，这个指令可以隐藏未编译的 Mustache 标签直到实例准备完毕。

示例：

[v-cloak] {
  display: none;
}
<div v-cloak>
  {{ message }}
</div>
不会显示，直到编译结束。
v-once
不需要表达式
v-bind
缩写：:

预期：any (with argument) | Object (without argument)

参数：attrOrProp (optional)

修饰符：

.prop - 被用于绑定 DOM 属性 (property)。(差别在哪里？)
.camel - (2.1.0+) 将 kebab-case 特性名转换为 camelCase. (从 2.1.0 开始支持)
.sync (2.3.0+) 语法糖，会扩展成一个更新父组件绑定值的 v-on 侦听器。
用法：

动态地绑定一个或多个特性，或一个组件 prop 到表达式。

在绑定 class 或 style 特性时，支持其它类型的值，如数组或对象。可以通过下面的教程链接查看详情。

在绑定 prop 时，prop 必须在子组件中声明。可以用修饰符指定不同的绑定类型。

没有参数时，可以绑定到一个包含键值对的对象。注意此时 class 和 style 绑定不支持数组和对象。

示例：


.camel 修饰符允许在使用 DOM 模板时将 v-bind 属性名称驼峰化，例如 SVG 的 viewBox 属性：

在使用字符串模板或通过 vue-loader/vueify 编译时，无需使用 .camel。

参考：

Class 与 Style 绑定
组件 - Props
组件 - .sync 修饰符
v-model
预期：随表单控件类型不同而不同。

限制：


components
修饰符：

.lazy - 取代 input 监听 change 事件
.number - 输入字符串转为数字
.trim - 输入首尾空格过滤
用法：

在表单控件或者组件上创建双向绑定。细节请看下面的教程链接。

参考：

表单控件绑定
组件 - 在输入组件上使用自定义事件
v-pre
不需要表达式

用法：

跳过这个元素和它的子元素的编译过程。可以用来显示原始 Mustache 标签。跳过大量没有指令的节点会加快编译。

示例：

<span v-pre>{{ this will not be compiled }}</span>
v-cloak
不需要表达式

用法：

这个指令保持在元素上直到关联实例结束编译。和 CSS 规则如 [v-cloak] { display: none } 一起用时，这个指令可以隐藏未编译的 Mustache 标签直到实例准备完毕。

示例：


不会显示，直到编译结束。
v-once
不需要表达式
		
		

		<div class="footer">
			<iframe src="../views/footer.html" width="100%" frameborder="0" scrolling="no"></iframe>
		</div>
		
		
</div>
</body>
</html>
