<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>奇牟navHome</title>
	
<link rel="shortcut icon" href="../views/ico/qm.png">
<link rel="stylesheet" type="text/css" href="../views/css/bootstrap_nav.css">
<link rel="stylesheet" type="text/css" href="../views/css/reset.css">
<link rel="stylesheet" type="text/css" href="../views/css/animation.css">
<link rel="stylesheet" type="text/css" href="../views/css/font-awesome.min.css">         <!-- Icon -->
<link rel="stylesheet" type="text/css" href="../views/css/sea-green/style.css">
<link rel="stylesheet" type="text/css" href="../views/css/sea-green/color.css">
<link rel="stylesheet" type="text/css" href="../views/css/comm.css">
<link rel="stylesheet" type="text/css" href="../views/css/navHome.css">
<script type="text/javascript" src="../views/js/jquery.min.js"></script>
<script type="text/javascript" src="../views/js/dropdown.js"></script>
<script type="text/javascript" src="../views/js/bootstrap.js"></script>
<script type="text/javascript" src="../views/js/vue.js"></script>
<script type="text/javascript" src="../views/js/vue-resource.js"></script>
<!-- <script type="text/javascript" src="../views/js/comm.js"></script> -->

<script type=text/javascript>
	$(document).ready(function(){
		var vue = new Vue({
	            el:'#box',
	            data:{
	            	myName:'',
	            	myWeather:'晴好',
					zNodes:[] // 菜单节点的数据
	            },
	            ready:function(){
					this.loadMenuByRole();
		        },
	            methods:{
	            	
	            	loadMenuByRole:function(){
	            		
						this.$http.post('/navDel',{
	                            nullParam:''//没用的参数，用来生成&。
	                        },{
	                            emulateJSON:true
	                        }).then(function(res){//success
// 	                            alert(res.data.navList.length);
// 		                        this.myName = res.data.userName;
								
								generalNav(res.data.navList,res.data.userName,this.myWeather);//动态组装导航菜单
								lastExeFunc();//在最后执行
								
	                        },function(res){
	                            //alert("error : "+res.status);//error
	                        });
	            	}
	            }
	        });
	});
	
</script>
</head>

<body>
<div class="container" id="box">

<!-- 导航栏 -->
<div class="navbar-fixed-top"><ul class="nav" id="id_nav"></ul></div>


<ul>
	<li>内部培训模块</li>
	<li>业内动态模块</li>
	<li>业内法律条文模块</li>
</ul>
		
		

		<div class="footer">
			<iframe src="../views/footer.html" width="100%" frameborder="0" scrolling="no"></iframe>
		</div>
</div>
</body>
</html>