<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>奇牟</title>

	<link rel="shortcut icon" href="./ico/qm.png">
	<link rel="stylesheet" type="text/css" href="./css/grid.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./css/comm.css">
	<script type="text/javascript" src="./js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="./js/bootstrap.js"></script>
	<script type="text/javascript" src="./js/vue.js"></script>
	<script>
        window.onload=function(){
            var v = new Vue({
                el:'#box',
                data:{
                    msg:''
                },
                methods:{
                    
                }
            });
        };
    </script>	
</head>

<body>
	<div class="container" id="box">
		<div class="header">
		   <ul class="nav nav-pills pull-right">
		     <li class="active"><a href="#">Home</a></li>
		     <li><a href="#">About</a></li>
		     <li><a href="#">Contact</a></li>
		     
		   </ul>
		   <h3 class="text-muted">Patent project</h3>
		 </div>
		 
		<div style="background-color: #CCC;width: 100%;height: 200px;">
			<b>123login</b>
		</div>

		<div class="footer">
			<iframe src="./footer.html" width="100%" frameborder="0" scrolling="no"></iframe>
		</div>

	</div>


</body>
</html>
